:root {

--color-s: #ff7f80;
--color-a: #ffc07f;
--color-b: #ffdd80;
--color-c: #fdff7f;
--color-d: #bfff7f;
--color-e: #7fff7f;
}

*, *::before, *::after {
box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    font-family: system-ui, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding-inline: 32px;
    user-select: none;
}

#top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 8px;
}

#top-header img {
    max-width: 12rem;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.tier {
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    background: #1f1f1f;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #111;
}

.label {
    cursor: pointer;
    background: var(--level, #09f);
    color: #333;
    font-weight: bold;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selector-items {
    border: 1px solid #666;
    width: 100%;
    height: 150px;
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.item-image {
    display: block;
    width: 80px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
    cursor: grab;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;

}

.item-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.item-container {
    position: relative;
    display: inline-block;
    
}

.item-tooltip {
    visibility: hidden;
    width: max-content;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 5px 8px;
    position: absolute;
    z-index: 100;
    bottom: 100%; /* Aparece arriba de la imagen */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 12px;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Flecha del tooltip */
.item-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

/* Mostrar tooltip al hacer hover */
.item-container:hover .item-tooltip {
    visibility: visible;
    opacity: 1;
}



@media (max-width: 600px) {
.label {
width: 80px;
height: 80px;
font-size: 16px; /* Texto más pequeño */
}

.item-image {
    width: 70px;  /* Un poco más pequeño en móviles */
    height: 80px;
    margin: 1px;  /* Mantienes el espaciado ajustado */
    
}

body {
padding-inline: 16px; /* Reduce el margen lateral */
}

#top-header img {
max-width: 8rem; /* Imagen del header más pequeña */
}
}